.job-form {
  padding: 1.6rem;

  background: var(--white);
  border-radius: 0.8rem;
  box-shadow: var(--shadow);

  width: calc(100% - 1.6rem * 2);

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (--tablet) {
    width: 40rem;
  }

  &__input-icons {
    display: flex;
    flex-direction: column;
  }

  &__input-wrapper {
    display: flex;

    width: 100%;
    margin-bottom: 1.6rem;

    img {
      margin-right: 0.8rem;
    }

    input {
      width: 100%;
      padding: 0 0.8rem;

      border-radius: 4px;
      background: var(--light-gray);
      color: var(--black);

      &::placeholder {
        color: var(--gray);
      }
    }
  }

  &__submit-button {
    width: calc(100% - 4rem);
    height: 4rem;

    border-radius: 4px;
    background: var(--gradient-blue);
    color: var(--white);
    font-weight: 900;

    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}
