:root {
  --white: #ffffff;
  --black: #252525;
  --transparent-black: rgba(51, 51, 51, 0.9);

  --light-gray: #f0f3f7;
  --gray: #8596a6;

  --gradient-blue: linear-gradient(180deg, #10a2ea 0%, #0f99e8 100%);

  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-button: 0 1px 2px 0 rgba(16, 162, 234, 0.3);
}
