.map-view {
  position: relative;

  &__form {
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
    z-index: 1;

    width: 100%;

    @media (--tablet) {
      top: 3.2rem;
      left: 3.2rem;
      width: auto;
    }
  }

  &__toast-notification {
    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
    z-index: 1;

    @media (--tablet) {
      top: 3.2rem;
      right: 3.2rem;
      bottom: auto;
      left: auto;
    }
  }

  &__map {
    width: 100%;
    height: 100vh;
  }
}
